<footer class="mt-auto">
    <div class="card text-center navbar-dark bg-dark">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">YelpCam 2023 by Tomas Ossa.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</footer>
