<footer class="footer bg-dark py-3 mt-auto">
  <div class="container d-flex justify-content-between">
      <span class="text-muted">&copy; YelpCamp Project</span>
      <span class="text-muted">Tomas Ossa</span>
  </div>
</footer>
