.scrollable {
    max-width: max-content; 
    max-height: 500px;
  }

.imageContainer{
  position:relative;
  width:200px;
  margin-right:100px;
  margin-bottom:10px;
}

.topRightCornerButton{
  display:block;                                     
  position:absolute;
  top:3px;
  right:3px;
  background:#c00;
}